# Beginner level Python

In [38]:
#here's a lot you can know about print statement
print("hello world")
print('hello world')
'hello world'


#print with seperator
print("Hello", "how are you?", sep="---")
print('hello','how are you?', sep = None)

#print a tuple
x = ('hulk','iron man','black widow')
print(x)

#print a blank space and new line
print('a','','v')
print('\n')
print('a','','v')


#to not get into a new line
print('I love python\n'.rstrip())
print('I love python too')


#string concatination
print('hello'+'world')


#printing an apostrophe
print('Numpy is python\'s library')

hello world
hello world
Hello---how are you?
hello how are you?
('hulk', 'iron man', 'black widow')
a  v


a  v
I love python
I love python too
helloworld
Numpy is python's library

In [39]:
#checking/converting upper and lower
x = 'Python'
print(x.upper())
print(x.lower())
print(x.isupper())

PYTHON
python
False

In [40]:
#length of a string
print(len(x))
print(x[0],x[5])

6
P n

In [41]:
print(x.replace('Up','Elephant'))
print(x.replace('Python','C++'))

Python
C++

In [42]:
# to print a number with a string, convert number to string first
x = 7
print( x + 'msd')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [43]:
# to print a number with a string, convert number to string first
x = 7
print( str(x) + 'msd')

7msd

In [44]:
#some inbuilt mathematical operations
print(pow(2,3))
print(max(1,1.1))
print(min(1,1.1))
print(round(2.1))
abs(-7.8)

8
1.1
1
2

7.8

In [45]:
from math import *
print(floor(3.7))
print(ceil(3.7))
print(sqrt(9))

3
4
3.0

In [46]:
##getting input from the user
x = input('enter anything bruh')
print('well' + ' ' + x)

enter anything bruh2
well 2

In [47]:
#input an integer
x = int(input('enter a value to get the sqrt of it-->'))
print(sqrt(x))

enter a value to get the sqrt of it-->3
1.7320508075688772

In [48]:
#lists
friends = ['akshay','verma','is','cool']
print(friends)

['akshay', 'verma', 'is', 'cool']

In [49]:
#printing from behind
print(friends[-1],friends[-2],friends[-3],friends[-4])

cool is verma akshay

In [50]:
# from 0 to 3-1 = 2
friends[0:3]

['akshay', 'verma', 'is']

In [51]:
# modify list
friends[1] = 'chiku'

In [52]:
friends[0:3]

['akshay', 'chiku', 'is']

In [53]:
#list functions
lucky_numbers = [2,3,4,5]
names = ['rob','bob','mob','tob']
names.extend(lucky_numbers)
names

['rob', 'bob', 'mob', 'tob', 2, 3, 4, 5]

In [54]:
names1 = ['rob','bob','mob','tob']
names2 = ['rob1','bob1','mob1','tob1']
names1.append(names2)
names1

['rob', 'bob', 'mob', 'tob', ['rob1', 'bob1', 'mob1', 'tob1']]

In [55]:
print(names1[1])
print(names1[4])
print(names1[4][1])

bob
['rob1', 'bob1', 'mob1', 'tob1']
bob1

In [56]:
# new elemnet gets inserted in postion 1 and all the other elements
# are pushed
names1.insert(1,'nob')
names1

['rob', 'nob', 'bob', 'mob', 'tob', ['rob1', 'bob1', 'mob1', 'tob1']]

In [57]:
#pops a number
names1.pop(1)

'nob'

In [58]:
names1

['rob', 'bob', 'mob', 'tob', ['rob1', 'bob1', 'mob1', 'tob1']]

In [59]:
#checking the index of some element
names.index('rob')

0

In [60]:
names.insert(1,'rob')

In [61]:
names.count('rob')

2

In [62]:
lucky_numbers.sort()
print(lucky_numbers)

[2, 3, 4, 5]

In [63]:
lucky_numbers.reverse()
lucky_numbers

[5, 4, 3, 2]

In [64]:
#tuples-- container in which we can store multiple info
# difference from list -- 
# 1.we cant change, recreate etc but only accsess
# 2. list -- [] and tupples -- ()

In [65]:
cooordinates = (0,2)
print(cooordinates[0])
print(cooordinates[1])

0
2

In [66]:
#list of tupples
cooordinates = [(0,2),(1,2),(2,3)]
print(cooordinates[0][1])

2

In [67]:
# functions in python
def func():
    print('hi')
func()

hi

In [68]:
def func(name):
    print('hi ' + name)
func('steve')

hi steve

In [69]:
def func(name, age):
    print('hi ' + name + age)
func('james','007')

hi james007

In [70]:
def func(name, age):
    print('hi ' + name + str(age))
func('james','007')

hi james007

In [71]:
def cube(a):
    print(a**3)
cube(2)

8

In [72]:
# return satatement
def cube(a):
    return a**3
cube(2)

8

In [73]:
# if elif else

In [74]:
def num(a,b,c):
    if a>=b:
        print(a)
    elif b>=c:
        print(b)
    else:
        print(c)
num(2,3,4)

4

In [75]:
# taking input

a = int(input('enter a number'))
b = float(input('enter another number'))
c = str(input('enter a string'))

print(a,b,c)

enter a number2
enter another number3
enter a stringhi
2 3.0 hi

In [76]:
# dictionaries
# allows us to store info that could be key value pairs

In [77]:
# if we want to convert some value to something else
# like Jan --> January
# and Mar --> March
# key : value (should be unique)
#duplicasies should not be there

In [78]:
monthConversion ={
    "Jan" : "January",
    "Feb"  : "February",
    "Mar"  : "March" 
}

print(monthConversion["Jan"])
monthConversion.get('Mar')

January

'March'

In [79]:
#while loop
n = 4
while(n>2):
    n = n-1
    print('hello')

hello
hello

In [80]:
#for loops
i = 0
for letter in "akshay":
    print(letter,i)
    i+=1

a 0
k 1
s 2
h 3
a 4
y 5

In [81]:
actors = ['tom', 'jake', 'ryan']
for actor in actors:
    print(actor)

tom
jake
ryan

In [82]:
for index in range(10):
    print(index)

0
1
2
3
4
5
6
7
8
9

In [83]:
#including 3 and excluding 10
for index in range(3, 10):
    print(index)

3
4
5
6
7
8
9

In [84]:
for index in range(len(actors)):
    print(actors[index])

tom
jake
ryan

In [85]:
#2-d lists and nested loops

number_grid = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [0]
]
number_grid

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [0]]

In [86]:
number_grid[2][2]

9

In [87]:
for row in number_grid:
    for col in row:
        print(col)

1
2
3
4
5
6
7
8
9
0

In [90]:
# try except
try:
    num = int(input('enter a number  '))
    print(num)
except:
    print('you gotta enter an integer')

enter a number  akshay
you gotta enter an integer

In [96]:
# try except-- any kind of errors will be caught
try:
    num1 = int(input('enter a number  '))
    num2 = int(input('enter another number'))
    print(num1/num2)
except ValueError:
    print('invalid input')
except ZeroDivisionError:
    print('Zero Division Error')

enter a number  1
enter another number0
Zero Division Error